.asset-manage-dialog {
  padding: 0;
  height: 27rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.asset-dir {
  cursor: pointer;
}

.asset-dropdown-more {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #888;
  font-size: 0.875rem;
  }
