.form-share-end-remark-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.form-share-end-remark-container .form-share-end-remark-content {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.form-share-end-remark-container .submit-success-icon {
  margin: 20px auto;
}